repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        files: ^backend/src/
      # Run the formatter
      - id: ruff-format
        files: ^backend/src/

